body {
    background-color: #eee;
    width: 100%;
    height: 100%;
}
#canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #aaa;
    z-index: 0;
    margin: 0;
    padding: 0;
}

#canvas:active {
    cursor: move;
}

.control {
    -moz-user-select: none;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 55px;
}

.control > div {
    position: relative;
    width: 28px;
    height: 27px;
    left: 0px;
    top: 0px;
}

.control > div > div {
    overflow: hidden;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 7px;
    top: 6px;
}

img#zoomIn {
    position: absolute;
    left: 0px;
    top: 0px;
    -moz-user-select: none;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    width: 120px;
    height: 54px;
}

img#zoomOut {
    position: absolute;
    left: 0px;
    top: -15px;
    -moz-user-select: none;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    width: 120px;
    height: 54px;
}